@charset "UTF-8";

body {
    background: rgb(111, 166, 238);
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

/* div {

} */


input[value='Gerar Tabuada'] {
    background-color: orange;
    color: blue;
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 25px;
}
input[value='Gerar Tabuada']:hover{
    cursor: pointer;
    background-color: aqua;
    color: orangered;
} 

footer {
    color: white;
    text-align: center;
    font-style: italic;
}